<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    </head>
<body class="hero-image-none">



    <ul>
        <li><a href= '/login'>Logout</a></li>

        <li><a class="active" href='/administrator_page'>Administrator</a></li>

        <li><a  href='/dashboard_page'>Dashboard</a></li>

        <li><a href='/alert_page'>Alerts</a></li>

        <li><a href='/monitor_page'>Monitoring</a></li>

        <li><a href='/home_page'>Home</a></li>


    </ul>









</body>
</html>