<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    </head>
<body class="hero-image-none">



    <ul>
        <li><a href= "{{url_for('login')}}">Logout</a></li>

        <li><a href="{{url_for('administrator_page')}}">Administrator</a></li>

        <li><a href="{{url_for('dashboard_page')}}">Dashboard</a></li>

        <li><a href="{{url_for('alert_page')}}">Alerts</a></li>

        <li><a class="active"  href="{{url_for('monitor_page')}}">Monitoring</a></li>

        <li><a href="{{url_for('home_page')}}">Home</a></li>


    </ul>









</body>
</html>